@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 46, 52, 64;
    --foreground: 216, 222, 233;

    --muted: 59, 66, 82;
    --muted-foreground: 129, 162, 190;

    --popover: 46, 52, 64;
    --popover-foreground: 216, 222, 233;

    --card: 46, 52, 64;
    --card-foreground: 216, 222, 233;

    --border: 88, 110, 117;
    --input: 88, 110, 117;

    --primary: 143, 188, 187;
    --primary-foreground: 216, 222, 233;

    --secondary: 129, 162, 190;
    --secondary-foreground: 216, 222, 233;

    --accent: 129, 162, 190;
    --accent-foreground: 216, 222, 233;

    --destructive: 191, 97, 106;
    --destructive-foreground: 216, 222, 233;

    --ring: 88, 110, 117;

    --radius: 0.5rem;
  }

  .dark {
    --background: 35, 38, 46;
    --foreground: 216, 222, 233;

    --muted: 59, 66, 82;
    --muted-foreground: 129, 162, 190;

    --popover: 35, 38, 46;
    --popover-foreground: 216, 222, 233;

    --card: 35, 38, 46;
    --card-foreground: 216, 222, 233;

    --border: 88, 110, 117;
    --input: 88, 110, 117;

    --primary: 143, 188, 187;
    --primary-foreground: 216, 222, 233;

    --secondary: 129, 162, 190;
    --secondary-foreground: 216, 222, 233;

    --accent: 88, 110, 117;
    --accent-foreground: 216, 222, 233;

    --destructive: 191, 97, 106;
    --destructive-foreground: 216, 222, 233;

    --ring: 88, 110, 117;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
